.a1 { font-size:24px; font-family: 標楷體; color:#6666CC;}

table {
        font-size: 15px;
        font-style: normal;
        font-family: 細明體;
}
.table-1 {
        background-color: #DBEDD5;
        width: 125px;
        margin: 0px;
        padding: 0px;
}
.table-2 {
        background-color: #FFFFFF;
        width: 650px;
        padding: 15px;
}
.table-3 {
        width: 600px;
        border: 1px #333399 solid;
        border-collapse: collapse;
        line-height:25px;
}
.table-4 {
        border: 1px #000066 solid;
        line-height:16px;
}

.ss {
        font-size: 13px;
        font-style: normal;
        font-family: 細明體;
}

body {
        background-image: url(images/bg.png);
        margin-top: 5px;
        xline-height: 20px;
}
